<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET'S STORE</title>
    <meta name="keywords" content="chó, mèo, chó con, chó cái, chó đực, thức ăn cho chó, chăm sóc chó cưng, hoàng thượng, boss, cún, sen, mèo con, mèo tam thể, mèo mun, cho, meo, hoang thuong, boss, cua hang thu cung"/>
    <meta name="description" content="Website Dành Cho Chó Mèo - PET'S STORE"/>
    <meta name="copyright" content="PET'S STORE"/>
    <meta name="author" content="PET'S STORE"/>
    <link rel="shortcut icon" th:href="@{/wwwroot/images/favicon.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/wwwroot/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/wwwroot/vendor/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/wwwroot/css/site.css}"/>
</head>`
</html>